
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
         
  }
   .card{
  
    margin:20px;
    width: 120px;
    height: 80px;
    text-align: center;
    box-shadow: 2px 2px 5px gainsboro;
}
  
 
 


  
  
  