            <div>
                <h5>hello admin</h5>
                <h5>View the status of your agents and the evolution of their latest alerts </h5>
                <br>
                <h3>Installed agents with their status</h3>
            </div>
            <br>

            <div class="container">
                <div class="card">
                 Total agents <br><p class="text-primary">{{countA()}}</p>
                </div>
                <div class="card">
                  Active agents <br><p class="text-success">{{getCount()}}</p>
                </div>
                <div class="card">
                   Disconnected agents<br><p class="text-danger">{{getCount2()}}</p>
                  
                </div>
                <div class="card">
                   Pending agents<br><p class="text-warning">{{getCount3()}}</p>
                  
                </div>
                <div class="card">
                  Never connected agents<br><p class="text-muted">{{getCount4()}}</p>
                    
                </div>
            </div>



          

